/.DS_Store
/client/.DS_Store
/client/assets/.DS_Store
/server/src/.DS_Store
/client/settings/.DS_Store
/client/settings/v2/.DS_Store
/client/assets/res/.DS_Store
/client/assets/script/.DS_Store
/client/assets/resources/.DS_Store
